# A lil' pip requirements file
aiofiles                     
aiosqlite                   
alembic                     
anyio                        
argon2-cffi                   
argon2-cffi-bindings          
arrow                        
asttokens                    
async-generator              
async-lru                    
attrs                        
Babel                         
backcall                     
backports.functools-lru-cache 
beautifulsoup4                
bleach                       
blinker                      
certifi                      
certipy                      
cffi                         
charset-normalizer           
colorama                     
comm                          
cryptography                  
debugpy                       
decorator                    
defusedxml                   
entrypoints                  
exceptiongroup              
executing                     
fastjsonschema               
flit_core                    
fqdn                         
gitdb                         
GitPython                     
greenlet                     
idna                         
importlib-metadata           
importlib-resources          
ipykernel                    
ipython                       
ipython-genutils             
ipywidgets                   
isoduration                   
jedi                          
Jinja2                        
json5                        
jsonpointer                   
jsonschema                    
jupyter_client                
jupyter_core                
jupyter-events                
jupyter-lsp                  
jupyter-offlinenotebook      
jupyter-resource-usage       
jupyter_server               
jupyter_server_fileid        
jupyter-server-mathjax        
jupyter_server_terminals      
jupyter_server_ydoc           
jupyter-telemetry            
jupyter-ydoc                 
jupyterhub                   
jupyterlab                 
jupyterlab_git               
jupyterlab-pygments          
jupyterlab_server            
jupyterlab-widgets           
Mako                         
MarkupSafe                  
matplotlib-inline             
mistune                      
nbclassic                    
nbclient                      
nbconvert                     
nbdime                       
nbformat                      
nest-asyncio                 
notebook                     
notebook_shim                 
oauthlib                      
overrides                     
packaging                    
pamela                       
pandocfilters                
parso                        
pexpect                      
pickleshare                  
pip                           
pkgutil_resolve_name          
platformdirs                  
prometheus-client            
prompt-toolkit               
psutil                       
ptyprocess                   
pure-eval                     
pycparser                    
Pygments                     
PyJWT                        
pyOpenSSL                   
pyrsistent                 
PySocks                    
python-dateutil           
python-json-logger          
pytz                         
PyYAML                     
pyzmq                       
requests                    
rfc3339-validator            
rfc3986-validator            
ruamel.yaml                  
ruamel.yaml.clib           
Send2Trash                   
setuptools                   
six                          
smmap                        
sniffio                       
soupsieve                     
SQLAlchemy                    
stack-data                   
terminado                    
tinycss2                      
tomli                        
tornado                       
traitlets                    
typing_extensions            
uri-template                  
urllib3                      
wcwidth                     
webcolors                    
webencodings                 
websocket-client              
wheel                        
widgetsnbextension            
y-py                         
ypy-websocket                 
zipp
